/* Apply basic styles to the body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

/* Center align the images in the container */
.img-container {
  text-align: center;
}

/* Style for each image in the container */
.img-container img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  background-color: gray;
  width: 300px;
  height: 300px;
}

/* Style for the "Load More" button */
.btn {
  background-color: skyblue;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Hover effect for the button */
.btn:hover {
  opacity: 0.9;
}
