* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  background: #f0f2f5;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 30px;
  margin-right: 15px;
  display: block;
}

.navbar-center ul li {
  display: inline-block;
  list-style: none;
}

.navbar-center ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}

.navbar-center ul li a img {
  width: 30px;
}
.navbar-center ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #045be6;
  position: absolute;
  bottom: -15px;
  transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active::after {
  width: 100%;
}

.nav-profile-img {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
  background: #41db51;
  position: absolute;
}

.searchbox {
  background: #f0f2f5;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.searchbox img {
  width: 14px;
}

.searchbox input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
  caret-color: #000;
}
/* -------------------- navbar end -------------------- */

/* -------------------- container -------------------- */
.container {
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* -------------------- Left sidebar -------------------- */
.left-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.sidebar-profile-box {
  background: #fff;
}
.sidebar-profile-info {
  padding: 0 25px;
}
.sidebar-profile-info img {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  padding: 4px;
  margin-top: -45px;
}
.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 700;
  color: #222;
}
.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.sidebar-profile-info ul {
  list-style: none;
  margin: 20px 0;
}
.sidebar-profile-info ul li {
  font-size: 13px;
  width: 100%;
  margin: 5px 0;
}
.sidebar-profile-info ul li span {
  float: right;
  color: #045be6;
}
.sidebar-link {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}
.sidebar-link a {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}
.sidebar-link a:first-child {
  border-left: 0;
}
.sidebar-link a img {
  width: 20px;
  margin-right: 10px;
}
.sidebar-activity {
  background: #fff;
  padding: 5px 25px;
  margin: 12px 0;
}
.sidebar-activity h3 {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-activity a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}
.sidebar-activity a img {
  width: 20px;
  margin-right: 10px;
}
.more-link {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
}
.more-link a {
  color: #045be6;
  display: inline-block;
  margin: 10px 0;
}
/* -------------------- Right sidebar -------------------- */
.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.sidebar-news {
  background: #fff;
  padding: 10px 25px;
}
.info-icon {
  width: 15px;
  float: right;
  margin-top: 15px;
}
.sidebar-news h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}
.sidebar-news a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}
.sidebar-news span {
  font-size: 12px;
}
.sidebar-news .more-news {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-ad {
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-ad img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small {
  float: right;
  font-weight: 500;
}
.sidebar-ad p {
  margin: 30px auto 10px auto;
}
.sidebar-ad b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.ad-info {
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}
.sidebar-useful-links {
  padding: 15px 25px;
  text-align: center;
}
.sidebar-useful-links a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}
.copyright img {
  width: 18px;
  margin-right: 4px;
}
/* -------------------- Main container -------------------- */
.main-container {
  flex-basis: 47%;
}
.post {
  background: #fff;
}
.post-input {
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}

.post-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-input textarea {
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  background: transparent;
  margin-top: 8px;
  caret-color: #000;
}
::placeholder {
  font-weight: 500;
}
.post-link {
  display: flex;
  align-items: flex-start;
}
.post-link li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.post-link img {
  width: 15px;
  margin-right: 5px;
}
.post-link li:last-child {
  background-color: #045be6;
  color: #fff;
  border-top: 0;
  border-right: 0;
}
.sort {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sort hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}
.sort p span {
  font-weight: 600;
  cursor: pointer;
}
.sort p span img {
  width: 12px;
  margin-left: 3px;
}
.post {
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}
.post-author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.post-author img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.post-author h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.post-author small {
  display: block;
  margin-bottom: -2px;
}
.post p {
  font-size: 14px;
  margin-bottom: 15px;
}
.post-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.post-stats div {
  display: flex;
  align-items: center;
}
.post-stats img {
  width: 15px;
  margin-right: -5px;
}
.liked-users {
  margin-left: 10px;
}
.post-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-style: 14px;
  font-weight: 500;
}
.post-activity div {
  display: flex;
  align-items: center;
}
.post-activity-user-icon {
  width: 22px;
  border-radius: 50%;
}
.post-activity-arrow-icon {
  width: 12px;
  margin-left: 5px;
}
.post-activity-link img {
  width: 18px;
  margin-right: 8px;
}
/* <!-------------- Profile Dropdown Menu --------------> */
.profile-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.profile-dropdown-menu.open {
  max-height: 400px;
}
.profile {
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}
.userinfo {
  display: flex;
  align-items: center;
}
.userinfo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.userinfo h3 {
  font-weight: 500;
  margin-bottom: -7px;
}
.userinfo a {
  color: #c9dbf8;
  font-size: 13px;
}
.profile hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 15px 0 10px;
}
.menu-links {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}
.menu-links p {
  width: 100%;
}
.menu-links img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

/* ---------------------- Profile Page ------------------ */

.profile-main {
  flex-basis: 73%;
}
.profile-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.profile-container {
  background: #fff;
}
.container-inner {
  padding: 0 4% 10px;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}
.profile-container h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}
.profile-container b {
  font-weight: 500;
}
.profile-container p {
  margin-top: 5px;
}
.profile-container p a {
  color: #045be6;
  font-weight: 500;
}
.mutual-connection {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.profile-button {
  margin: 20px 0;
}
.profile-button a {
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-button a img {
  width: 18px;
  margin-right: 5px;
}
.profile-button .primary {
  background: #045be6;
  color: #fff;
}
.profile-desc {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}
.profile-desc h2 {
  color: #333;
  margin: 10px 0 20px;
  font-weight: 600;
}
.see-more-link {
  display: block;
  text-align: right;
  font-size: 15px;
}
.profile-desc-row {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.profile-desc-row img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.profile-desc-row div {
  width: 100%;
}
.profile-desc-row h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.profile-desc-row b {
  display: block;
  font-weight: 600;
  font-size: 15px;
}
.profile-desc-row p {
  margin-top: 15px;
}
.profile-desc-row hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}
.experience img {
  width: 20px;
  margin-left: 8px;
}
.skills {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}
.languages {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background: #e4e6eb;
  font-size: 12px;
  font-weight: 500;
}

/* --------------------Profile right sidebar -------------------------- */
.profile-sidebar .sidebar-ad {
  margin: 0;
}
.sidebar-persons {
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-persons H3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.sidebar-persons-row {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}
.sidebar-persons-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.sidebar-persons-row h2 {
  font-weight: 500;
  font-size: 16px;
}
.sidebar-persons-row a {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 500;
}
.profile-footer {
  padding: 0 6% 30px;
}
.profile-footer .sidebar-useful-links {
  text-align: left;
  padding: 0;
}
.profile-footer .copyright {
  justify-content: flex-start;
}
#morelink {
  display: none;
}
/* ------------------- media query for small screen ----------------- */

@media only screen and (max-width: 600px) {
  .searchbox {
    background: transparent;
    width: auto;
    padding: 0;
  }
  .searchbox input {
    width: 0;
    padding: 0;
  }
  .navbar-center ul li a span {
    display: none;
  }
  .navbar-center ul li a {
    padding-right: 0;
    margin: 5px;
  }
  .nav-profile-img {
    width: 30px;
  }
  .container {
    padding: 15px 3%;
  }
  .left-sidebar,
  .right-sidebar {
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .main-container {
    flex-basis: 100%;
  }
  .post-stats div {
    margin: 2px 0;
  }
  .post-activity-link span {
    display: none;
  }
  .post-activity-link img {
    margin-right: 0;
  }
  .profile-main,
  .profile-sidebar {
    flex-basis: 100%;
  }
  .profile-container,
  .profile-desc {
    font-size: 14px;
  }
  .profile-pic {
    width: 100px;
    margin-top: -50px;
  }
  #morelink {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity {
    display: none;
  }
  .sidebar-activity.open-activity {
    display: block;
  }
  .profile-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .profile-dropdown-menu.open {
    max-height: 400px;
  }
  .menu-links {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 8px;
  }
  .menu-links img {
    width: 20px;
    border-radius: 70%;
    margin-right: 15px;
  }
  .userinfo img {
    width: 35px;
    border-radius: 70%;
    margin-right: 15px;
  }
  .userinfo a {
    color: #c9dbf8;
    font-size: 10px;
  }
  .userinfo h3 {
    font-weight: 400;
  }
}
